# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/
*-checkpoint.ipynb

# Python bytecode files and directories
__pycache__/
*.pyc

# store outputs/datasets locally, not in remote repo
outputs/
rabl_outputs/